:root {
	background-color: #222222;
	color: white;
	height: 100vh;
	align-items: center;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	animation: fade-in 1.5s ease-out, move-up 0.7s ease-out;
}

@keyframes fade-in {
	0% { opacity: 0; }
	10% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes move-up {
	from { transform: translateY(100vh); }
	to { transform: none; }
}

h1 {
	margin: 0;
	color: #FFD82D;
}

.c-aurum-logo {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.c-aurum-logo--top {
	width: 200px;
	height: 100px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 3px;
}

.c-aurum-logo--top::before {
	content: "";
	display: block;
	background: linear-gradient(#FFD82D, #ff8400);
	background-repeat: no-repeat;
	background-size: 200px 200px;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	animation: sun-rotate infinite 4s linear;
}

.c-aurum-logo--bottom {
	background: url("aurum_bottom.png");
	background-size: 100%;
	width: 246px;
	height: 67px;
}

@keyframes sun-rotate {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}

a {
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	padding: 20px 10px;
	border: 2px solid #fff8;
	border-radius: 15px;
	margin: 10px 0;
	width: 550px;
}

a .fa {
	font-size: 2em;
	display: inline-block;
	margin-right: 10px;
	height: 50px;
	width: 62.5px;
}

.fa-discord {
	color: #7289da;
}